# Creating our dataset

In this notebook, we'll be using the `create_combined_df` function defined in `pushshift_functions.py` in order to grab posts from two subreddits, [/r/Christianity](https://www.reddit.com/r/Christianity/) and [/r/Catholicism](https://www.reddit.com/r/Catholicism/). Once we have a dataframe, we'll export it for cleaning in a separate notebook.

## Import libraries

In [1]:
import os

from pushshift_functions import create_combined_df

## Grabbing posts

In [2]:
# The following should grab 25,000 posts each from /r/Christianity and /r/Catholicism.
# NOTE: this will take a while...
# Consider lowering n_iter to speed the process up.
df = create_combined_df('Christianity', 'Catholicism', n_iter=50)

Grabbing 5th bundle of posts from /r/Christianity...
Grabbing 10th bundle of posts from /r/Christianity...
Grabbing 15th bundle of posts from /r/Christianity...
Grabbing 20th bundle of posts from /r/Christianity...
Grabbing 25th bundle of posts from /r/Christianity...
Grabbing 30th bundle of posts from /r/Christianity...
Grabbing 35th bundle of posts from /r/Christianity...
Grabbing 40th bundle of posts from /r/Christianity...
Grabbing 45th bundle of posts from /r/Christianity...
Grabbing 50th bundle of posts from /r/Christianity...
Grabbing 5th bundle of posts from /r/Catholicism...
Grabbing 10th bundle of posts from /r/Catholicism...
Grabbing 15th bundle of posts from /r/Catholicism...
Grabbing 20th bundle of posts from /r/Catholicism...
Grabbing 25th bundle of posts from /r/Catholicism...
Grabbing 30th bundle of posts from /r/Catholicism...
Grabbing 35th bundle of posts from /r/Catholicism...
Grabbing 40th bundle of posts from /r/Catholicism...
Grabbing 45th bundle of posts from /r/Catholicism...
Grabbing 50th bundle of posts from /r/Catholicism...

In [3]:
df.head()

,all_awardings,allow_live_comments,author,author_flair_css_class,author_flair_richtext,author_flair_text,author_flair_type,author_fullname,author_patreon_flair,author_premium,...,gilded,poll_data,crosspost_parent,crosspost_parent_list,distinguished,steward_reports,removed_by,updated_utc,og_description,og_title
0,[],False,friendlyhello123,None,[],None,text,t2_66w0klyz,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,[],False,jason24119949422,None,[],None,text,t2_5riob2jy,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,[],False,diwiwi,None,[],None,text,t2_rsn6o6d,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,[],False,kofrase94,None,[],None,text,t2_6a5knvep,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,[],False,Clear-Plastic,None,[],None,text,t2_6adu0qmq,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.shape

(50000, 86)

## Export raw data

In [5]:
try:
    os.mkdir('../data')
except FileExistsError:
    pass

In [6]:
# Get time of most recent post, will use this as a tag for the filename.
current_time = max(df['created_utc'])

# Save data we collected.
df.to_csv(f'../data/raw_{current_time}.csv', index=False)